<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album list</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Album list</h1>
<h2><a href="addalbum">Add new album</a></h2>
<br/><br/>

<div class="container">
  <table class ="container" border="1">
    <tr>
      <th><h1>Title</h1></th>
      <th><h1>Author</h1></th>
    </tr>
    <tr th:each ="album : ${albums}">
      <td th:utext="${album.title}">...</td>
      <td th:utext="${album.author}">...</td>

        <td> <button>
            <a th:href="'/editalbum/' + ${album.id}">Edit</a>
        </button>
        </td>
        <td>
            <form th:action="'/deletealbum/' + ${album.id}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>

  </table>
</div>
</body>
</html>