<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/email.css}"/>
    <script type="text/javascript"  th:src="@{../js/emailform.js}"></script>
</head>
<body>
<!--<fieldset th:object="${emailForm}">-->
  <legend>Select employees</legend>
  <div class="checkbox" th:each="employee : ${allEmployees}">
    <label>
        <div th:if="${employee.email != null}">
            <input  th:value="${employee.id}"  type="checkbox" name="employees"/>
            <span  th:text="${employee.firstName + ' ' + employee.lastName + ': ' + employee.email}"/>
        </div>
        <div >
        <input th:if="${employee.email == null}" th:value="${employee.id}"  type="checkbox"  name="employees" onclick="return false;"/>
       <span  th:if="${employee.email == null}" th:text="${employee.firstName + ' ' + employee.lastName + ': no email adress'}" style="color:gray;"/>
        </div>
    </label>
  </div>
    <input type="submit" value="Send" th:method="post" onclick="emailform()">Send messages</button>
<!--</fieldset>-->
</body>
</html>