<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index</title>-->
<!--</head>-->
<!--<body>-->
<!--  <h3>index</h3>-->
<!--  <form th:action="@{/logout}" method="post">-->
<!--      <input type="submit" value="Sign Out"/>-->
<!--  </form>-->
<!--&lt;!&ndash;  <h1 th:utext="${message}">..!..</h1>&ndash;&gt;-->
<!--  <div class="container">-->
<!--&lt;!&ndash;      users&ndash;&gt;-->
<!--      <h1>New employee:</h1>-->
<!--      <form method="POST">-->
<!--          <p>first_name: <input type="text" name="first_name" placeholder="a"/> </p>-->
<!--          <p>last name: <input type="text" name="last_name" placeholder="a"/> </p>-->
<!--          <p>age: <input type="number" name="age" placeholder="1"/> </p>-->
<!--          <p>email: <input type="email" name="email" placeholder="mail@gmail.com"/> </p>-->
<!--          <input type="submit" value="Add" />-->
<!--      </form>-->
<!--  </div>-->
<!--  <form method="post" action="filter">-->
<!--      <input type="text" name="filter"/>-->
<!--      <button type="submit">Find</button>-->
<!--  </form>-->
<!--  <div class="container">-->
<!--      <table class ="container" border="1">-->
<!--          <tr>-->
<!--              <th><h1>First name</h1></th>-->
<!--              <th><h1>Last name</h1></th>-->
<!--              <th><h1>Age</h1></th>-->
<!--          </tr>-->
<!--          <tr th:each ="employee : ${employees}">-->
<!--              <td th:utext="${employee.firstName}">...</td>-->
<!--              <td th:utext="${employee.lastName}">...</td>-->
<!--              <td th:utext="${employee.age}">...</td>-->
<!--          </tr>-->

<!--      </table>-->
<!--  </div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
    <!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<br>
<script src="../../static/js/index.js" th:src="@{../js/index.js}"></script>
<script src="../../static/js/elems.js" th:src="@{../js/elems.js}"></script>
<script src="../../static/js/api/user_rent_api.js" th:src="@{../js/api/user_rent_api.js}"></script>
<script src="../../static/js/api/user.js" th:src="@{../js/api/user.js}"></script>
<script src="../../static/js/api/order_api.js" th:src="@{../js/api/order_api.js}"></script>
<script src="../../static/js/api/tutor_api.js" th:src="@{../js/api/employee_api.js}"></script>
<script src="../../static/js/admin.js" th:src="@{../js/admin.js}"></script>
<script src="../../static/js/general.js" th:src="@{../js/general.js}"></script>
<script src="../../static/js/user.js" th:src="@{../js/user.js}"></script>
<script>
    window.onload = onIndexLoad;
</script>

<div class="container">
<!--&lt;!&ndash;      users&ndash;&gt;-->
      <h1>New employee:</h1>
      <form method="POST">
          <p>first_name: <input type="text" name="first_name" placeholder="a"/> </p>
          <p>last name: <input type="text" name="last_name" placeholder="a"/> </p>
          <p>age: <input type="number" name="age" placeholder="1"/> </p>
         <p>email: <input type="email" name="email" placeholder="mail@gmail.com"/> </p>
          <input type="submit" value="Add" />
</form>
 </div>
  <div class="container">
      <table class ="container" border="1">
          <tr>
              <th><h1>First name</h1></th>
              <th><h1>Last name</h1></th>
              <th><h1>Age</h1></th>
          </tr>
          <tr th:each ="employee : ${employees}">
              <td th:utext="${employee.firstName}">...</td>
              <td th:utext="${employee.lastName}">...</td>
              <td th:utext="${employee.age}">...</td>
          </tr>

      </table>
  </div>

<div>
    <button onclick="logOut()">Logout</button>
    </br>
    <div id="refsForUser"></div>
</div>

<div id="search">
    <input type="text" id="searchEmployee" placeholder="Name/surname/email/age">
</div>
</br>

<div id="allEmployeesContainer">
    <table id="allEmployees">
    </table>
</div>

<div id="searchUser">
</div>
</br>


<div id="allUsersContainer">
    <table id="allUsers">
    </table>
</div>

</html>