<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete album</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">

  <h1>Delete album: </h1>
  <form th:action="@{/delalbum}"
        th:object="${albumform}" method="post">
    <p>Title:
      <input type="text" th:field="*{title}"/>
    </p>
    <p>Author:
      <input type="text" th:field="*{author}"/>
    </p>
    <input class="button-main-page" type="submit" value="Delete"/>
  </form>
  <div th:if="${errorMessage!=null}"  th:utext="${errorMessage}"
       style = "color:red;font-style:italic;">
  </div>

</div>
</body>
</html>