<!doctype html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit album</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">

  <h1>Update book: </h1>
  <form th:action="@{/editalbum}"
        th:object="${albumform}" method="post">
    <p>Title:
      <input type="text" th:field="*{title}"/>
    </p>
    <p>Author:
      <input type="text" th:field="*{author}"/>
    </p>
    <p>New title:
      <input type="text" th:field="*{newTitle}"/>
    </p>
    <p>New author:
      <input type="text" th:field="*{newAuthor}"/>
    </p>
    <input class="button-main-page" type="submit" value="Update"/>
  </form>
  <div th:if="${errorMessage!=null}"  th:utext="${errorMessage}"
       style = "color:red;font-style:italic;">
  </div>

</div>
</body>
</html>