@charset "UTF-8";

h1, h2, h3{
    font-family: Arial, sans-serif;
    color: rgb(68, 95, 104);
    text-align: center;
}

body{
    background-color: #e1e8ee;
    font-family: sans-serif;
    font-weight: 300;
}

button{
    background-color: rgb(140,167,181);
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(93, 117, 128);
    border-radius: 25px;
    padding: 5px 5px;
    text-decoration-color: rgb(69, 88, 97);
}

a{
    font-family: Arial, sans-serif;
    color: #524d77;
    text-align: center;
}

div .results{
    font-family: Arial, sans-serif;
    color: #524d77;
    text-align: center;
    align-items: center;
    display: none;
    visibility: hidden;
}

div .row{
    font-family: Arial, sans-serif;
    color: #524d77;
    text-align: center;
    align-items: center;
    align-content: center;

}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.container{
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border-collapse: collapse;
    border: 2px solid rgb(93, 117, 128);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #93bacb;
}

.neededInfo{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-family: Arial, sans-serif;
    color: #524d77;
    text-align: center;
}

.neededInfo table, tr, td, th{
    border-collapse: collapse;
    border: 2px solid rgb(93, 117, 128);
}

.neededInfo td{
    margin-left: 20%;
    margin-right: 25%;
}
.containertable {
    transform: translate(-50%, -50%);
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
th {
    text-align: left;
    background-color: rgb(140,167,181);
    color: black;
}
thead th {
    background-color: rgb(140,167,181);
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
}
